#ifndef arduino_secret_h
#define arduino_secret_h

/* ------- Thinger.io ------- */
#define USERNAME "Your username"
#define DEVICE_ID "Device ID"
#define DEVICE_CREDENTIAL "Device credentials"
#define SSID "Your ssid"
#define SSID_PASSWORD "Wifi password"


#endif /* arduino_secret_h */
