#ifndef arduino_secret_h
#define arduino_secret_h

/* ------- Thinger.io ------- */
#define THINGER_USERNAME "your Thinger.io username"
#define THINGER_DEVICE_ID "your device id"
#define THINGER_DEVICE_CREDENTIAL "your device credential"

#define THINGER_BUCKET_ID "your bucket id"
#define THINGER_ENDPOINT_IDENTIFIER "your endpoint identifier"

/* ------- WIFI ------- */
#define WIFI_SSID "your wifi name"
#define WIFI_PASSWORD "your wifi password"


#endif /* arduino_secret_h */
